.header-nav__effect {
    padding: 12px 24px;
    border: 1px solid #bcdcba2e;
    border-radius: 10px;
}

.header-nav__effect:hover {
        -webkit-backdrop-filter: blur(7.5px);
            background: #bae4a540;
            /* box-shadow: 0 3px 12px #b2d9b29c; */
}